OdraIDE/OdraIDE.Core.Host/OdraIDE.plugin.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Plugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="File" type="xs:string" />
        <xs:element name="Id" type="xs:string" />
        <xs:element name="Name" type="xs:string" />
        <xs:element name="Version" type="xs:string" />
        <xs:element name="Company" type="xs:string" />
        <xs:element name="Description" type="xs:string" />
        <xs:element name="Enabled" type="xs:string" />
        <xs:element name="Dependencies">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="Plugin">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Id" type="xs:string" />
                    <xs:element name="Version" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>